@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Styling */

:root {
  --primary: #254336;
  --secondary: #f5efe6;
  --nav-padding: 0 80px;
  --general-paddng: 100px 80px;
  --text-color: #f5efe6;
  --h1-font-size: 80px;
  --footer-padding: 30px 80px;
  --h1-margin: 30px;
  --font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--secondary);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}
.main1 {
  padding: var(--general-paddng);
  background-color: var(--primary);
}
h1 {
  font-size: 50px;
}
p {
  font-size: 20px;
}

/* Nav Styling */

header {
  background-color: var(--secondary);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: var(--nav-padding);
}
nav ul {
  display: inherit;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  list-style: none;
}
nav ul li {
  padding: 10px 15px;
}
nav ul li:hover {
  display: inherit;
  align-items: center;
  justify-content: center;
  background-color: #536f63;
  height: 100%;
  color: var(--text-color);
}
a {
  color: black;
  text-decoration: none;
}

/* Landing Section Styling */

.landing-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-h1 {
  line-height: 55px;
  margin-bottom: 50px;
}

/* Background Image Section Styling */

.typerwriter-container {
  position: relative;
}

.typewriter {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  filter: brightness(50%);
}
.img-text {
  font-size: var(--h1-font-size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
}

/* About Section */

.about-section{
  color: black;
  padding: var(--general-paddng);
}
.first-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.first-image p{
  width: 40%;
}
.image-border{
  border-radius: 30px;
}
.second-image{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.seond-image p{
  width: 40%;
}
.third-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.third-image p{
  width: 100%;
}
.thanks-text{
  font-size: 30px;
}

/* Project Showcase Section + Skill Set Section Styling */

.proj-h1 {
  font-size: var(--h1-font-size);
  margin-bottom: var(--h1-margin);
}
.projects-section,
.skills-section {
  padding: var(--general-paddng);
  background-color: #254336;
  color: #f5efe6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.proj-container,
.skills-container {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #254336;
  gap: 30px;
  max-width: 900px;
}
.proj,
.skills {
  border: solid 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #f5efe6;
  margin: 10px;
  height: 400px;
  width: 400px;
}
.proj-pic {
  border: solid 3px;
  border-radius: 5px;
  margin-top: 10px;
  height: 300px;
  width: 300px;
}
.proj-descript {
  margin-bottom: 10px;
}

/* Quote Section Styling */

.quote-container {
  padding: var(--general-paddng);
  color: black;
}
.quote {
  font-size: var(--h1-font-size);
  font-weight: 800;
}
.author {
  display: flex;
  justify-content: flex-end;
}

/* Skill Set Section Styling */

.skill-text {
  margin-bottom: var(--h1-margin);
  font-size: var(--h1-font-size);
}

.contacts-section {
  padding: var(--general-paddng);
}
.contacts-container {
  padding: var(--general-paddng);
  display: flex;
  gap: 10%;
  /* justify-content: space-between; */
  /* gap: 30%; */
  background-color: var(--primary);
  color: var(--text-color);
  width: 100%;
}
input {
  display: inline;
  /* flex-direction: column; */
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid black;
  background-color: var(--text-color);
  border-radius: 5px;
  width: 100%;
  font-family: var(--font-family);
}
textarea {
  padding: 10px;
  width: 100%;
  background-color: var(--text-color);
  border: 2px solid black;
  border-radius: 5px;
  font-family: var(--font-family);
}
i {
  color: var(--text-color);
  font-size: 30px;
  margin-bottom: 10px;
}
.bold {
  /* margin-top: 10px; */
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
}
.description {
  color: var(--text-color);
}
.block {
  margin-bottom: 30px;
}
.message {
  vertical-align: top;
  height: 80px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(147, 46, 147);
}

/* .footer-links{
  font-size: 30px;
} */
footer {
  background-color: #071911;
  padding: var(--footer-padding);
  display: flex;
  justify-content: space-around;
  text-align: left;
  font-size: 0.9em;
  color: var(--text-color);
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer ul {
  /* list-style-type: none; */
  padding: 0;
  margin-left: 30px;
}

footer ul li {
  margin: 5px 0;
}
.socials ul{
  margin: 0;
  display: flex;
  gap: 10px;
  list-style-type: none;
}
