@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Configurations */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  /* height: 100%; */
}
body{

  /* min-height: 100%; */
  /* background-color: #254336; */
  color: #F5EFE6;
  font-family: "Poppins", sans-serif;
}
.main1{
  padding: 30px 80px;
  background-color: #254336;
  /* background-image: url("./images/shelby-miller-hL0xl0qmxYM-unsplash.jpg"); */
}

/* Nav Configuration */

header{
  background-color: white;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 5px 80px;
}
nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}

/* First Section Configuration */

.landing-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.left-container{
  min-width: 300px;
}
h1{
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 50px;
}
p{
  font-size: 20px;
}

.typerwriter-container{
  position: relative;
  text-align: center;
}

.typewriter{
  margin-top: 100px;
  width: 100%;
  filter: brightness(50%);
}
.img-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F5EFE6;
}

.projects{
  margin-top: 100px;
  background-color: #254336;
  color: #F5EFE6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.proj-container{
  margin: 100px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-auto-flow: column;
  background-color: #254336;
  min-width: 100px;
  max-width: 800px;
}
.proj{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #F5EFE6;
  margin: 10px;
  height: 300px;
  width: 300px;
}
.proj-pic{
  border-radius: 5px;
  background-color: red;
  margin: 10px;
  height: 200px;
  width: 200px;
}

.quote-container{
  margin: 100px;
  padding: 5px 80px;
  color: black;
}
.quote{
  font-size: 70px;
  font-weight: 800;
}
.author{
  display: flex;
  justify-content: flex-end;
}
